$html-font-size: 16;

/* Primary */
$clr-primary-400: hsl(158, 36%, 37%);
$clr-primary-500: hsl(158, 36%, 20%);
$clr-secondary-200: hsl(30, 38%, 92%);

/* Neutral */
$neutral-900: hsl(212, 21%, 14%);
$neutral-400: hsl(228, 12%, 48%);
$neutral-100: hsl(0, 0%, 100%);

/* Font family */
$ff-accent: "Fraunces", serif;
$ff-base: "Montserrat", sans-serif;

/* Font weight */
$fw-regular: 500;
$fw-bold: 700;
